.task1 {
	color: green;
}

.task2 {
	background: purple;
}

.task3 {
	text-decoration: overline;
	text-transform: uppercase;
}

.task4 {
	font-style: italic;
}

.task5 {
	color: yellow;
}

.task6 {
	color: red;
	background: black;
	font-style: italic;
}


.link1 {
	color:red;
}

.link2:hover {
	color:blue;
	font-size: 25px;
}

.link3 {
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link3:hover {
	text-decoration: underline;
	color: yellow;
	background-color: black;
}

.link4 {
	background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.link4:active {
	color:black;
	background-color: white;
	font-style: italic;
}

.link5 {
	background-color: black;
    color: red;
    padding: 14px 25px;
    text-align: left;
    text-decoration: underline;
    display: inline-block;
}

.link5:hover {
	background-color: blue;
	color: black;
	text-align: right;
}

.unordered {
	list-style-position: inside;
	background: #ff9999;
    padding: 20px;
     list-style-image: url('https://static.addtoany.com/buttons/favicon.png');
}

.ordered {
	background: purple;
    padding: 50px;
}